@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 800px)";

@import "seattletimes";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


@aspect-ratio: 7/10;
@legend-length: 2; //number of legend items



@lowcolor: ~"#96B3E5";
@mediumcolor: ~"#599dc1";
@highcolor: ~"#400080";

body {
  font-family: @df-sans;
  padding: 0;
  margin: 0;
}

.note {
  font-size: 80%;
  padding-top: 8px;
}

.aspect-ratio-outer {
  width: 100%;
  position: relative;

  .aspect-ratio-inner {
    padding-bottom: percentage(@aspect-ratio);
    position: relative;
  }

  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:not([ready]) {
      display: none;
    }
  }
}

.map-container {
  position: relative;


}

.bigheader {
  line-height:90%;
  font-size:16px;
  font-family: @df-sans;
  font-weight: bold;
  text-align:center;
  padding:8px 0;
  line-height:1.2;

}
.mediumheader {
  font-size:15px;
  font-family: @df-sans; 
  font-weight: bold; 
  padding-bottom:5px;
}


.lilheader {
  font-size: 14px; 
  font-family:@df-sans;
  font-weight: bold;
  line-height: 1.3;
  padding-bottom: 6px;
}

.numbers {
  list-style-type: none;
  position: relative;
  clear: both;
   display: flex;
   display:-webkit-flex;
   display:-moz-flex;

   // .lownumber {
   //  font-weight: bold;
   //  display: block;
   // }

   // .midnumber {
   // font-weight: bold;
   //  display: block;
   // }

   // .highnumber {
   // font-weight: bold;
   //  display: block;
   // }
}

ul.numbers {
     padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    text-align: center;
    padding: 6px 0;
}

.numbers li {
   list-style-type: none;
   flex: 1;
    -webkit-flex:1;

    .lownumber {

      // margin-right: 2px;
      font-weight: bold;
      // background-color: @lowcolor;
      color: @lowcolor;
      text-transform:uppercase;
    // border-top: 3px solid @lowcolor;


  }

  .midnumber {

      // margin-right: 2px;
      font-weight: bold;
      color: @mediumcolor;
       text-transform:uppercase;
    // border-top: 3px solid @mediumcolor;

  }

  .highnumber {

      // margin-right: 2px;
      font-weight: bold;
      color: @highcolor;
       text-transform:uppercase;
    // border-top: 3px solid @highcolor;

  }
}


.chart {
  clear: both;
  overflow: hidden;
  height: 20px;
  min-width: 200px;

  .segment {
    height: 100%;
    float: left;

    &.low {
      background: @lowcolor;
    }

    &.medium {
      background: @mediumcolor;
    }

    &.high {
      background: @highcolor;
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.dog-menu {
  margin-top: 10px;
  display: flex;
   display:-webkit-flex;
   display:-moz-flex;

   @media @tablet {
    font-size: 14px;
   }

  @media @mobile {
    font-size: 12px;
  }

  .hidden {
    display: none;
  }

  & > a, & > label {
    max-width: 33%;
    display: inline-block;
    vertical-align: bottom;
    flex: 1;
    -webkit-flex:1;
    text-align: center;
    margin: 4px;

    @media @mobile {
    }
  }
}

.type-button:hover { color: black; background: lightgray; }
#menu a.selected  { color: white; background: gray; }


.type-button { 
  padding: 6px 8px;
  line-height: 1.2;
  color: gray;
  border-radius: 2px;
  cursor: pointer;
  font-family: @df-sans;
  font-weight: bold;

  .sm_btn_text {
    display: block;
    font-size: 70%;
    font-weight: normal;
    font-family: @df-serif;
  }
}

@import "leaflet-tweaks";
@import "legend";