<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child class="map-container">

    <div id='menu' class="dog-menu">
      <a class="selected type-button" data-type="low_pct">Low</a> 
      <a class="type-button" data-type="medium_pct">Medium</a> 
      <a class="type-button" data-type="high_pct">High</a> 
    </div>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=11>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
      </div>

      <aside class="legend">
        <h1>Map legend</h1>
        <ul class="scale">
          <li> <span class="block change1" style="background-color: yellow"></span> "New" households 
          <li> <span class="block" style="background-color: #B3B3B3"></span> No "new" households
        </ul>
       <cite class="source">Source: Source <span class="legend-credit">Map by Garland Potts / The Seattle Times</span></cite>
      </aside>
    </responsive-child>

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
